ul.card-list > li{
	padding: 20px;
	border: solid 1px #CCC; 
	margin: 10px 5px;
}

ul.card-list > li .image img{
	margin-bottom: 1em;
}

.list-inline {
	margin-left: 0px;
}

.centering{
	margin-top: 50px;
	text-align: center;
}

.font-poiret-one{
	font-family: 'Poiret One', cursive;
	font-size: 183px;
}

.input-medium.search-query{
	

}